<!-- my_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page Title{% endblock %}</title>
</head>
<body>
    <div>
        <h2>{% block header %}Cześć, tu {{ data.name }} z {{ data.organization }}.{% endblock %}</h2>
        <p>{% block short_text %}Proszę, zostaw mi numer kontaktowy, a ja wyślę Ci moją wizytówkę.{% endblock %}</p>
        <img src="{% block image %}{{ data.img_url }}{% endblock %}" alt="Image">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="tel" id="phone" name="phone" placeholder="Wpisz swój numer telefonu...">
            <button type="submit">Submit</button>
        </form>
        <p>{% block additional_text %}lub jeśli nie chcesz to{% endblock %}</p>
        <a href="{% url 'download_vcf' data.vcard_id %}"><button>POBIERZ MOJĄ WIZYTÓWKĘ</button></a>
    </div>
</body>
</html>
