<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCard Form</title>
</head>
<body>
    <h2>Wpisz dane by wygenerować QR i URL</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="name" name="name" placeholder="Twoje imię i nazwisko" required><br><br>
        <input type="text" id="organization" name="organization" placeholder="Nazwa firmy"><br><br>
         <input type="tel" id="phone" name="phone" placeholder="Numer telefonu"><br><br>
        <input type="email" id="email" name="email" placeholder="Adres email" required><br><br>
        <input type="url" id="website" name="website" placeholder="Adres vcard"><br><br>
        <label for="image">Zdjęcie:</label><br><br>
        <input type="file" id="image" name="image"><br><br>
        <input type="submit" value="Dalej">
    </form>
</body>
</html>